<footer class="my-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="text-muted ">
            <p class="text-muted ">In our book fair we have a lot of books and we try to provide more to help you, and we strive to help you get the books you want.</p>
            <p class="text-muted ">We have a special section for great authors and you can get their books for free, we also provide you with collections of books on different topics and make it easy for you to access them.</p>
            <p class="text-muted ">We have a special section for all books in our gallery and you can search for what you want through this section.</p>
            <p class="text-muted ">You can search for books by the name of the book and also search for the author to get his works and also search for a specific group of books.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <img src="./assets/imgs/footer Image.jpg" class="w-100 rounded-4" height="350px" alt="">
          </div>
        </div>
      </div>
    </div>
  </footer>
