.nav-item{
    position: relative;
}
.nav-link:hover{
    transition: all .7s;
    /* color: black !important; */
}
.nav-link{
    font-size: 18px;
}

/* .nav-item::after{
    content: "";
    position: absolute;
    width: 0;
    background-color: #09c;
    height: 2px;
    bottom: 3%;
}
.nav-item:hover:after{
    width: 60px;
    transition: all 1s;
} */
.active-link{
    background-color: #09c;
    border-radius: 20px;
    
}
@media (max-width:767px) {
    .nav-link{
        text-align: center !important;
        width: 50%;
        margin: auto;
    }
    .nav-item::after{
        content: "";
        position: absolute;
        width: 0;
        background-color: #09c;
        height: 2px;
        bottom: 3%;
    }
    .nav-item:hover:after{
        margin: auto !important;
        width: 0;
        transition: all 1s;
    }
}